.menu-toggle {
	display: block;
	margin-right: 2rem;
}

header > .row {
	flex-wrap: wrap;
	justify-content: space-between;
}

.navbar {
	order: 4;
	box-sizing: border-box;
	width: 100%;
	margin-left: -1rem;
	margin-right: -1rem;
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, .1);
	display: none;
	transition: opacity 0.5s ease;

	ul > li > a {
		display: block;
		padding: 1rem;
	}

	ul > li > a:hover,
	ul > li > a:focus {
		background-color: rgba(0, 0, 0, .05);
	}
}

.left-sidebar {
	display: none;
}

.main-sidebar,
.main-no-sidebar {
	width: 100%;
}